.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #000;
}

.login > img {
    height: 100px;
}

.login > a {
    padding: 20px 30px;
    border-radius: 50px;
    background-color: #1db954;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.login > a:hover {
    background-color: #1ed760;
}